body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 80px;
}

a {
    text-decoration: none;
}

button {
    background-color: #007bff;
    color: white;
    width: 260px;
    height: 90px;
    border: none;
    border-radius: 15px;
    font-size: 28px;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    margin: 20px 0;
}

button:hover {
    background-color: #0056b3;
}

/* ----- FORMULARIOS DE EJERCICIOS ----- */
.form-container {
    width: 420px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-container h2 {
    margin-bottom: 25px;
    color: black;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-enviar {
    display: block;
    width: 40%;
    height: 40%;
    margin: 15px auto 0 auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 0;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-enviar:hover {
    background-color: #0056b3;
}

.btn-volver {
    display: block;
    width: 40%;
    margin: 15px auto 0 auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 0;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-volver:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
}
